* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
header {
  background-color: #7e868b;
  text-shadow: 2px 2px 4px rgb(203, 223, 235);
  margin-bottom: 30px;
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

#options-and-stats {
  width: 250px;
  background-color: #7e868b;
  margin: 0 30px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

h2 {
  font-size: 20px;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 15px;
}
.score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.score p:first-child {
  font-size: 18px;
  font-weight: bolder;
}

.score p:last-child {
  background-color: white;
  border: 1px solid black;
  width: 60px;
  border-radius: 5px;
  padding: 15px 0;
  text-align: center;
  color: red;
  font-size: 20px;
}

.select-option {
  display: flex;
  flex-direction: column;
}

select {
  margin: 5px 5px 10px 5px;
}

#center {
  display: flex;
}

#right {
  flex-grow: 1;
}

main {
  display: flex;
  justify-content: center;
}

#game-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 7px solid #7e868b;
  box-shadow: 10px 10px 10px rgb(88, 87, 87);
}

.row {
  display: flex;
}
.row > div,
img {
  height: 30px;
  width: 30px;
}

.blue {
  background-color: #cbdfeb;
}

.gray {
  background-color: #90a2b0;
}

/* .snake {
  border: none;
  height: 10px;
} */

/* .apple {
  background-color: red;
} */

.pre-post {
  position: fixed;
  background-color: whitesmoke;
  padding: 30px 60px;
  color: black;
  border: 10px solid #7e868b;
  box-shadow: 10px 10px 30px black;
  text-align: center;
  max-width: 400px;
}

.pre-post h3 {
  font-size: 30px;
}

.pre-post span {
  font-weight: bold;
}

.pre-post p {
  margin: 10px 0;
  padding-top: 10px;
}

.pre-post p:first-of-type {
  border-top: 1px solid black;
}

.pre-post button {
  padding: 5px 20px;
  color: black;
  border: 2px solid black;
  border-radius: 25px;
  font-weight: bold;
  background-color: rgb(203, 223, 235);
}

/* Styles for image direction */

.point-up {
  transform: rotate(270deg);
}

.point-right {
  transform: rotate(0deg);
}

.point-left {
  transform: rotate(180deg);
}

.point-down {
  transform: rotate(90deg);
}
